/* style.css */

body {
    font-family: 'New Century Schoolbook', TeX Gyre Schola, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fa6368;
    background-color: hsl(283, 70%, 4%);
}

header {
    padding: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}




nav {
    text-align: center;
    justify-content: center;
}

nav div {
    display: flex;
    align-items: center;
}

nav a {
    color: #fafafa;
    text-decoration: none;
    padding: 2em;
    margin: 0 0.5em;
    font-size: 18px;
}

nav a:hover {
    color: #ff0000; 
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

#web-crafters {
    text-align: center;
    font-size: 170px;
    font-family: 'New Century Schoolbook', TeX Gyre Schola, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}



#watermark {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2; 
    z-index: -1; 
    width: 600px; 
    height: auto;
}

.about-content {
    overflow: hidden;
}
.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding: 20px;
}

.text {
    flex: 1; 
}

.text h2 {
    font-size: 24px; 
}

.text p {
    font-size: 20px;
    line-height: 1.5; 
}

.image img {
    max-width: 100%; 
    height: auto; 
}

.text {
    width: calc(100% - 550px); 
    float: left;
}

.image {
    float: right;
    width: 500px;
    height: auto;
    overflow: hidden;
}

#project {
    max-width: 500px; 
}

#project-list a {
    font-size: 40px;
    color: #87dcef; 
}

#contact {
    max-width: 800px; 
}

.contact-details {
    display: flex;
    flex-direction: column;
}

.contact-entry {
    margin-bottom: 8em;
}

.contact-entry img {
    width: 30px; 
    height: 30px; 
    cursor: pointer;
}
#project-list {
    font-size: 20px; 
}

#project-list p {
    font-size: 18px; 
}


@media only screen and (max-width: 600px) {
    header {
        padding: 0.5em 1em;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        padding: 1em;
        font-size: 16px;
    }

    #web-crafters {
        font-size: 80px;
        margin-top: 10px;
        text-align: center;
    }

    .about-content {
        gap: 10px;
        padding: 20px;
    }

    .text, .image {
        width: 100%;
        float: none;
    }

    #project-list {
        text-align: center;
    }

    #project-list a {
        font-size: 24px;
    }

    #project-list p {
        font-size: 16px;
    }

    .contact-details {
        text-align: center;
    }

    .contact-entry {
        margin-bottom: 2em;
    }

    .contact-entry img {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .contact-details h2 {
        font-size: 20px;
    }
}






